/*Page*/

.einv.sapUiBody {
    background-image: linear-gradient(to bottom, #f7f7f7 0, #f7f7f7 50%, #f7f7f7 100%) !important;
}

.einv .sapUiGlobalBackgroundColor,
.einv .sapMGlobalBackgroundColor {
    background-image: linear-gradient(to bottom, #f7f7f7 0, #f7f7f7 50%, #f7f7f7 100%) !important;
}

.einv .sapMPageHeader::before {
    border-top: .25rem solid #5ba435;
}


/*Master Page*/

.einv .sapMSplitContainerMaster {
    width: 25rem;
}

.einv .sapMSplitContainerPortrait.sapMSplitContainerShowHide>.sapMSplitContainerMasterHidden {
    left: -5rem;
}


/*Footer*/

.einv .sapMIBar.sapMFooter-CTX,
.einv .sapMPageFooter .sapMIBar-CTX.sapMFooter-CTX.sapMTB {
    background-color: #fff !important;
    border-radius: 3px;
    box-shadow: 0px 0px 2px grey;
    width: calc(100% - 12px);
    margin: auto;
    margin-bottom: 5px;
    border: 1px solid #fff !important
}


/*Buttons*/

.einv .sapMITBSelected .sapMITBContentArrow::after {
    background: #f7f7f7;
}

.einv .sapMBtnInner {
    font-size: 0.875rem;
    height: 1.625rem;
    min-width: 1.625rem;
    border: .0625rem solid #5ba435 !important;
}

.einv .sapMBtnInner {
    border-radius: 3px;
}

.einv .sapMBtnContent {
    line-height: 1.5rem;
}

.einv .sapMBtnIcon {
    width: 1.875rem;
    line-height: 1.5rem;
}

.einv .sapMBtnCustomIcon.sapMBtnIcon {
    color: #5ba435;
}

.einv .sapMBtn:focus>.sapMFocusable {
    outline: 1px dotted #fff0 !important;
}

.einv .sapMIBar-CTX.sapMFooter-CTX .sapMBtnInner>.sapMBtnIcon {
    color: #5ba435;
    text-shadow: none;
}

.einv .sapMFooter-CTX .sapMBtn:hover>.sapMBtnHoverable:not(.sapMBtnActive) {
    background-color: #005f28;
    text-shadow: none;
}

.einv :not(.sapMBtnDisabled):not(.sapMSBActive)>span.sapMBtnInner.sapMBtnAccept:not(.sapMBtnActive):not(.sapMToggleBtnPressed)>.sapMBtnIcon {
    color: #f7f7f7;
}


/*default*/

.einv .sapMOTAPopover .sapMBtnTransparent:not(.sapMBtnActive):not(.sapMToggleBtnPressed),
.einv span.sapMBtnInner.sapMBtnDefault,
.einv div.sapMBtnInner.sapMBtnDefault {
    background: #fff0;
    border-color: #5ba435;
    color: #5ba435;
    text-shadow: none;
}

.einv .sapMBtn:hover>.sapMBtnHoverable.sapMBtnDefault:not(.sapMBtnActive),
.einv :not(.sapMBtnDisabled):hover>.sapMBtnDefault.sapMBtnActive,
.einv :not(.sapMBtnDisabled)>.sapMBtnDefault.sapMBtnActive {
    background-color: #5ba435;
    border-color: #5ba435;
    color: #fff;
    text-shadow: none;
}


/*transparent*/

.einv span.sapMBtnInner.sapMBtnTransparent,
.einv div.sapMBtnInner.sapMBtnTransparent {
    background-color: #fff0;
    border-color: #fff0;
    color: #5ba435;
    text-shadow: none;
}

.einv :not(.sapMBtnDisabled)>.sapMBtnTransparent.sapMBtnActive {
    background-color: #5ba435;
    border-color: #5ba435;
    color: #fff;
    text-shadow: none;
}

.einv .sapMBtn:hover>.sapMBtnInner.sapMBtnHoverable.sapMBtnTransparent .sapMBtnIcon,
.einv .sapMBtn:hover>.sapMBtnHoverable.sapMBtnTransparent:not(.sapMBtnActive) {
    background: rgba(196, 196, 196, 0.1);
    color: #5ba435;
}

.einv :not(.sapMBtnDisabled)>.sapMBtnTransparent.sapMBtnActive .sapMBtnIcon {
    color: #fff !important;
}

.einv .sap-desktop .sapMIBar-CTX .sapMBtn:not(.sapMBtnDisabled):hover>.sapMBtnInner:not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized):not(.sapMBtnAccept):not(.sapMBtnAttention):not(.sapMBtnReject):not(.sapMBtnActive):not(.sapMBtnGhost):not(.sapMBtnCritical):not(.sapMBtnNegative):not(.sapMBtnNeutral):not(.sapMBtnSuccess),
.einv .sap-desktop .sapMTB-Transparent-CTX .sapMBtn:not(.sapMBtnDisabled):hover>.sapMBtnInner:not(.sapMToggleBtnPressed):not(.sapMBtnEmphasized):not(.sapMBtnAccept):not(.sapMBtnAttention):not(.sapMBtnReject):not(.sapMBtnActive):not(.sapMBtnGhost):not(.sapMBtnCritical):not(.sapMBtnNegative):not(.sapMBtnNeutral):not(.sapMBtnSuccess) {
    border-color: #5ba435
}

.einv .sapMTB-Transparent-CTX .sapMBtn:not(.sapMBtnDisabled)>.sapMBtnDefault.sapMBtnActive {
    background-color: #5ba435
}

.einv :not(.sapMBtnDisabled)>span.sapMBtnInner.sapMBtnIconFirst.sapMBtnTransparent.sapMBtnActive,
.einv :not(.sapMBtnDisabled)>span.sapMBtnInner.sapMBtnIconLast.sapMBtnTransparent.sapMBtnActive {
    background-color: #5ba435;
    border-color: #5ba435
}

.einv .sapUiSizeCompact .sapMBar-CTX .sapMBtnInner.sapMBtnGhost:not(.sapMBtnDisabled) {
    background: transparent;
    border: .0625rem solid #5ba435
}

.einv .sapMIBar-CTX .sapMBtn:hover>.sapMBtnGhost.sapMBtnHoverable:not(.sapMBtnActive):not(.sapMToggleBtnPressed) {
    background: #ffffff;
    border-color: #5ba435
}

.einv :not(.sapMBtnDisabled) .sapMBtnBack>.sapMBtnIcon,:not(.sapMBtnDisabled) .sapMBtnTransparent>.sapMBtnIcon,
.einv :not(.sapMBtnDisabled) .sapMBtnGhost>.sapMBtnIcon {
    color: #5ba435
}

.einv .sapMBtn:hover>.sapMBtnBack.sapMBtnHoverable {
    background-color: #fff;
    border-color: #5ba435
}

.einv .sapMBtn:hover>.sapMBtnTransparent.sapMBtnHoverable:not(.sapMBtnActive) {
    color: #5ba435
}

.einv .sapMBtn:hover:not(.sapMBtnDisabled)>.sapMBtnHoverable.sapMBtnTransparent:not(.sapMBtnActive):not(.sapMToggleBtnPressed)>.sapMBtnIcon,
.einv *.sapMBtn:hover:not(.sapMBtnDisabled)>span.sapMBtnInner.sapMBtnTransparent:not(.sapMBtnActive):not(.sapMToggleBtnPressed)>.sapMBtnIcon,
.einv :not(.sapMBtnDisabled):not(.sapMSBActive)>span.sapMBtnInner.sapMBtnTransparent:not(.sapMBtnActive):not(.sapMToggleBtnPressed):hover>.sapMBtnIcon {
    color: #5ba435
}

.einv .sapMBtn:hover>.sapMBtnTransparent.sapMBtnHoverable:not(.sapMBtnActive):not(.sapMToggleBtnPressed) bdi,
.einv .sapMIBar-CTX .sapMBtn:hover>.sapMBtnTransparent.sapMBtnHoverable:not(.sapMBtnActive):not(.sapMToggleBtnPressed) bdi {
    color: #5ba435
}


/*accept*/

.einv span.sapMBtnInner.sapMBtnAccept,
.einv div.sapMBtnInner.sapMBtnAccept {
    background-color: #5ba435;
    border-color: #5ba435;
    color: #fff;
}

.einv .sapMBtn:hover>.sapMBtnHoverable.sapMBtnAccept:not(.sapMBtnActive):not(.sapMBtnDisabled):not(.sapMToggleBtnPressed) {
    background-color: #338016;
    border-color: #338016;
    color: #fff
}

.einv .sapMBtn:hover>.sapMBtnHoverable.sapMBtnAccept:not(.sapMBtnActive):not(.sapMBtnDisabled):not(.sapMToggleBtnPressed) bdi {
    color: #fff
}

.einv .sapMBtn:hover:not(.sapMBtnDisabled)>.sapMBtnHoverable.sapMBtnAccept:not(.sapMBtnActive):not(.sapMToggleBtnPressed)>.sapMBtnIcon,.sapMBtn:hover:not(.sapMBtnDisabled)>span.sapMBtnInner.sapMBtnAccept:hover:not(.sapMBtnDisabled):not(.sapMBtnActive):not(.sapMToggleBtnPressed) .sapUiIcon,:not(.sapMBtnDisabled):not(.sapMSBActive)>span.sapMBtnInner.sapMBtnAccept:not(.sapMBtnActive):not(.sapMBtnDisabled):not(.sapMToggleBtnPressed):hover>.sapMBtnIcon {
    color: #ffffff
}


.einv .sapMBtn:hover>.sapMBtnHoverable.sapMBtnEmphasized:not(.sapMBtnActive):not(.sapMToggleBtnPressed) {
    background-color: #338016;
    border-color: #338016;
}

.einv :not(.sapMBtnDisabled)>span.sapMBtnInner.sapMBtnEmphasized.sapMBtnActive {
    background-color: #338016;
    border-color: #338016;
}


/*reject*/

.einv span.sapMBtnInner.sapMBtnReject {
    background-image: none;
    background-color: #fff;
    border-color: #FF5454 !important;
    color: #FF5454
}

.einv span.sapMBtnInner.sapMBtnReject .sapUiIcon {
    color: #FF5454
}

.einv :not(.sapMBtnDisabled):not(.sapMSBActive)>span.sapMBtnInner.sapMBtnReject:not(.sapMBtnActive):not(.sapMToggleBtnPressed)>.sapMBtnIcon {
    color: #FF5454
}

.einv .sapMBtn:hover>.sapMBtnHoverable.sapMBtnReject:not(.sapMBtnActive):not(.sapMToggleBtnPressed) {
    background-color: #FF5454;
    border-color: #FF5454 !important;
    color: #fff
}

.einv .sapMBtn:hover>.sapMBtnHoverable.sapMBtnReject:not(.sapMBtnActive):not(.sapMToggleBtnPressed) bdi {
    color: #fff;
}

.einv .sapMBtn:hover:not(.sapMBtnDisabled)>.sapMBtnHoverable.sapMBtnReject:not(.sapMBtnActive):not(.sapMToggleBtnPressed)>.sapMBtnIcon,
.einv .sapMBtn:hover:not(.sapMBtnDisabled)>span.sapMBtnInner.sapMBtnReject:hover:not(.sapMBtnDisabled):not(.sapMBtnActive):not(.sapMToggleBtnPressed) .sapUiIcon,
.einv :not(.sapMBtnDisabled):not(.sapMSBActive)>span.sapMBtnInner.sapMBtnReject:not(.sapMBtnActive):not(.sapMBtnDisabled):not(.sapMToggleBtnPressed):hover>.sapMBtnIcon {
    color: #fff
}

.einv :not(.sapMBtnDisabled)>span.sapMBtnInner.sapMBtnReject.sapMBtnActive {
    background-color: #FF5454;
    border-color: #FF5454 !important;
    text-shadow: none;
    color: #fff;
}

.einv :not(.sapMBtnDisabled)>.sapMBtnInner.sapMBtnActive .sapMBtnIcon,
.einv .sapMBtn:hover>.sapMBtnInner.sapMBtnHoverable .sapMBtnIcon,
.einv :not(.sapMBtnDisabled)>div.sapMBtnInner.sapMBtnDefault.sapMBtnActive,
.einv :not(.sapMBtnDisabled)>div.sapMBtnInner.sapMBtnAccept.sapMBtnActive,
.einv .sapMBtn:hover>.sapMBtnHoverable.sapMBtnAccept:not(.sapMBtnActive),
.einv :not(.sapMBtnDisabled)>div.sapMBtnInner.sapMBtnReject.sapMBtnActive,
.einv .sapMBtn:hover>.sapMBtnHoverable.sapMBtnReject:not(.sapMBtnActive) {
    color: #fff;
}


/*Emphasized*/

.einv span.sapMBtnInner.sapMBtnEmphasized {
    background-color: #5ba435;
}

.einv :not(.sapMBtnDisabled) .sapMBtnBack>.sapMBtnIcon,
.einv :not(.sapMBtnDisabled) .sapMBtnTransparent>.sapMBtnIcon,
.einv :not(.sapMBtnDisabled) .sapMBtnGhost>.sapMBtnIcon {
    color: #5ba435;
}


/*Search Field*/

.einv .sapMITBSelected .sapMITBFilterDefault {
    background: #5ba435;
    color: #fff;
    border: 1px solid #5ba435;
}

.einv .sapMITBFilterIcon {
    background: #fff;
    border: 1px solid #5ba435;
    color: #5ba435;
    width: 44px;
    height: 44px;
    font-size: 22px;
    line-height: 2.5rem;
}

.einv .sapMSF {
    padding: 0.1rem 0;
}

.einv .sapMSF form {
    border: 1px solid #b2b2b2;
    border-radius: 2px;
    box-shadow: 0px 0px 1px grey;
}

.einv .sapMFocus>.sapMSFF>.sapMSFB,
.einv .sapMSFB {
    color: #5ba435;
}

.einv :not(.sapMSFDisabled)>.sapMSFF:hover {
    border-color: #5ba435;
}

.einv .sapMSFF>.sapMSFB:not(.sapMSFBF):active,
.einv .sapMSFF>.sapMSFB.sapMSFBA {
    background-color: #5ba435;
    color: #fff;
}


/*multi-input*/

.einv .sapMMultiInputBorder {
    border-radius: 2px;
    height: 2.25rem;
    border: 1px solid #89919a;
}

.einv .sapMMultiInputInputContainer>input {
    height: 2.25rem;
    border: 1px solid #fff;
}

.einv .sapMMultiInput .sapMInputBaseInner:not(.sapMInputBaseReadonlyInner):not(.sapMInputBaseStateInner):focus,
.einv .sapMMultiInput .sapMInputBaseInner:not(.sapMInputBaseReadonlyInner):not(.sapMInputBaseStateInner):not(.sapMInputBaseDisabledInner):hover {
    border-color: #fff;
}

.einv .sapMToken.sapMTokenSelected:hover,
.sapMToken.sapMTokenSelected:hover {
    background: #5ba435 !important;
    border: 1px solid #5ba435 !important;
}


/*Input*/

.einv .sapMInputBaseInner {
    border: 1px solid #fff;
    border-radius: 2px;
    height: 1.875rem;
}

.einv .sapMInputBase {
    line-height: 1.25rem;
    height: 2rem;
}

.einv .sapMInputBaseDisabled {
    opacity: 1;
}

.einv .sapMInputBaseDisabled .sapMInputBaseDisabledInner {
    background-color: rgba(242, 242, 242, 0.5);
}

.einv .sapMInputBaseWidthPadding {
    padding: 3px 0;
}

.einv .sapMInputBase .sapMInputBaseDisabledWrapper {
    border: 1px solid #bfbfbf;
    background: #f7f7f7;
}

.einv .sapMInputBaseContentWrapper {
    height: 2rem;
    border-radius: 3px;
}

.einv .sapMFocus .sapMInputBaseContentWrapper:not(.sapMInputBaseReadonlyWrapper):not(.sapMInputBaseContentWrapperState):hover,
.einv .sapMFocus .sapMInputBaseContentWrapper:not(.sapMInputBaseReadonlyWrapper):not(.sapMInputBaseContentWrapperState) {
    border: 1px solid #5ba435 !important;
}

.einv .sapMInputBaseIconPressed .sapMInputBaseContentWrapper:not(.sapMInputBaseReadonlyWrapper):not(.sapMInputBaseContentWrapperState):not(.sapMInputBaseDisabledWrapper) {
    border-color: #5ba435 !important;
}

.einv .sapMInputBaseInner:not(.sapMInputBaseReadonlyInner):not(.sapMInputBaseStateInner):not(.sapMInputBaseDisabledInner):hover,
.einv .sapMInputBaseInner:not(.sapMInputBaseReadonlyInner):not(.sapMInputBaseStateInner):focus {
    border-color: #fff;
}

.einv .sapMInputBaseState .sapMInputValHelp {
    top: 10px;
    right: -5px;
    height: 2rem;
    width: 2rem;
}

.einv .sapMInputBaseIcon {
    width: 2rem;
    min-width: 2rem;
    line-height: 1.775rem;
}

.einv .sapMInputBaseIconContainer .sapMInputBaseIcon {
    color: #5ba435;
}

.einv .sapMInputBaseIconContainer .sapMInputBaseIcon:active {
    color: #fff;
}

.einv .sapMInputBaseIconPressed .sapMInputBaseIcon,
.einv .sapMInputBaseIconPressed .sapMInputBaseIcon:hover {
    background: #5ba435;
}


/*ComboBox*/

.einv .sapMComboBoxTextField {
    border: 1px solid #89919A;
    border-radius: 2px;
    height: 2.25rem;
    padding: 0px;
}

.einv .sapMComboBoxTextField .sapMInputBaseInner {
    border: none;
    width: calc(100% - 2px);
    margin: 0 1px;
}

.einv .sapMComboBoxTextFieldArrow {
    color: #5ba435;
    margin: 1px;
    height: 2rem;
    line-height: 2rem;
}

.einv .sapMComboBoxBasePressed:not(.sapMComboBoxTextFieldReadonly):not(.sapMComboBoxTextFieldState):not(.sapMComboBoxTextFieldDisabled) {
    border-color: #5ba435;
}

.einv .sapMComboBoxBasePressed .sapMComboBoxBaseArrow,
.einv .sapMComboBoxBasePressed .sapMComboBoxBaseArrow:hover,
.einv .sapMInputBaseIcon:active {
    background: #5ba435 !important;
}

.einv .sapMFocus.sapMComboBoxTextField:not(.sapMComboBoxTextFieldReadonly):not(.sapMComboBoxTextFieldState):not(.sapMComboBoxTextFieldDisabled),
.einv .sapMComboBoxTextField:not(.sapMComboBoxTextFieldReadonly):not(.sapMComboBoxTextFieldState):not(.sapMComboBoxTextFieldDisabled):hover {
    border-color: #5ba435;
}


/*DatePicker*/

.einv .sapUiCalItemSel {
    background-color: #5ba435;
}

.einv .sapMInputValHelp {
    width: 2rem;
}

.einv .sapMInputValHelp>.sapMInputValHelpInner {
    height: 2.2rem;
    width: 2rem;
    line-height: 2.2rem;
}

.einv .sapUiCalHead>.sapUiCalHeadB,
.einv .sapMInputValHelpInner {
    color: #5ba435;
}

.einv .sapMInputVH:not(.sapMInputBaseReadonly) .sapMInputValHelp>.sapMInputValHelpInner:active {
    background-color: #5ba435;
}

.einv .sapUiCalItem.sapUiCalItemSel:not(.sapUiCalItemSelBetween) {
    background-color: #5ba435;
}


/*TextArea*/

.einv .sapMTextArea>.sapMTextAreaInner {
    padding: 0.27rem 0.5rem;
}

.einv .sapMTextArea .sapMInputBaseInner {
    height: auto;
}


/*Grid*/

.einv .sapUiRespGrid.sapUiRespGridHSpace1 {
    margin: 0 1rem;
    padding: 0 0 0.5rem;
}

.einv .sapUiRespGrid.sapUiRespGridHSpace1>div {
    margin: 0.5rem 0.5rem;
}

.einv .sapUiRespGrid.sapUiRespGridHSpace1>div:first-child {
    margin: 0.5rem 0.5rem 0;
}

.einv .sapMIBar.sapMTB .sapMBarChild:first-child {
    margin-left: 0;
}


/*List*/

.einv .sapMLIBImgNav {
    width: 2.5rem;
}

.einv .sapMLIB {
    background: #fff0;
}

.einv .sapMLIB.sapMLIBActive {
    color: #464b4e;
    background: #ebf7e5;
}

.einv .sapMLIBActive .sapMLIBImgNav,
.einv .sapMLIBActive .sapMText {
    color: #464b4e;
}

.einv .sapMLIB,
.einv .sapMListHdrText {
    border-bottom: 1px solid #f7f7f7;
}

.einv .sapMListBGSolid .sapMLIB:not(.sapMLIBActive):not(.sapMLIBSelected):not(:hover) {
    background: #fff;
}

.einv .sapMLIB.sapMLIBSelected {
    background: #ebf7e5;
}

.einv .sapMListBGTranslucent .sapMLIB:not(.sapMLIBActive):not(.sapMLIBSelected):not(:hover) {
    background: #fff;
}


/*Text Area*/

.einv .sapMTextArea,
.einv .sapMTextArea>div {
    height: auto;
}


/*Switch*/

.einv .sapMSwt {
    height: 1.25rem;
}

.einv .sapMSwtText {
    line-height: 1.4rem;
}

.einv .sapMSwtOn:not(.sapMSwtAcceptReject) {
    background: #ecf7e6;
    border-color: #5ba435;
}

.einv .sapMSwtOn .sapMSwtText {
    color: #3d4144;
}

.einv .sapMSwtOn .sapMSwtText:hover {
    color: #fff;
}

.einv .sapMSwtOff .sapMSwtText:hover {
    color: #000;
}

.einv .sapMSwtOn .sapMSwtHandle {
    background: #5ba435;
    box-sizing: border-box;
    border: 2px solid #5ba435;
}

.einv .sapMSwtHoverable.sapMSwtOn:not(.sapMSwtAcceptReject):hover {
    background-color: #007833;
    border-color: #005f28;
}

.einv html.sap-desktop .sapMSwtCont:focus>.sapMSwt {
    outline: 0px dotted #000 !important;
}

.einv .sapMSwt.sapMSwtHoverable:hover {
    border-color: #5ba435 !important;
}


/*Segmented Button*/

.einv .sapMSegBBtn.sapMSegBBtnSel {
    background: #5ba435;
    color: #fff;
}

.einv .sapMSegB .sapMSegBBtn {
    padding: 0;
    color: #5ba435;
    border-top: 1px solid #5ba435;
    border-left: 1px solid #5ba435;
    border-bottom: 1px solid #5ba435;
    bottom: 6px;
    position: relative;
}

.einv .sapMSegB .sapMSegBBtn .sapMSegBBtnInner {
    color: #5ba435;
    border: 1px solid #ffffff00;
}

.einv .sapMSegBBtn.sapMSegBBtnFocusable.sapMSegBBtnSel .sapMSegBBtnInner {
    background: #5ba435;
    color: #fff;
}

.einv .sapMSegBBtn.sapMSegBBtnFocusable.sapMSegBBtnSel {
    border-right: 1px solid #5ba435;
    color: #fff;
}

.einv .sapMSegBBtn.sapMSegBtnLastVisibleButton {
    border-right: 1px solid #5ba435;
}

.einv .sapMSegBBtn.sapMSegBBtnSel .sapMSegBBtnInner {
    background: #5ba435;
    border-color: #5ba435;
}

.einv .sapMSegBBtn:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.einv .sapMSegBBtn:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.einv .sapMSegBBtn:last-child .sapMSegBBtnInner {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.einv .sapMSegBBtn.sapMSegBBtnFocusable.sapMSegBBtnSel:hover,
.einv .sapMSegBBtnSel>div:hover {
    background: #2c612b !important;
}


/*Icon Tab Bar*/

.einv .sapMITBSep {
    line-height: 4.5rem;
}

.einv .sapMITH {
    background: #fff;
}

.einv .sapMITBHead {
    margin-top: 0.5rem;
}

.einv .sapMITBSelected>.sapMITBContentArrow {
    border-bottom: 3px solid #5ba435;
}

.einv .sapMITBSelected>div>.sapMITBContentArrow {
    border-bottom: .2rem solid #5ba435;
}

.einv .sapMITBVertical.sapMITBFilter .sapMITBContentArrow {
    height: 1rem;
}

.einv .sapMITBFilterDefault {
    color: #5ba435;
    border-color: #5ba435;
}

.einv .sapMITBVertical {
    height: 5.5rem;
}

.einv .sapMITBTab {
    margin-top: 0.5rem;
    width: 7rem;
}

.einv .sapMITBText {
    width: 7rem;
}

.einv .sapMITBContent {
    background-color: #fff0;
}

.einv .sapMITBContainerContent {
    border-bottom: 1px solid #f7f7f7;
}

.einv .sapMSplitContainerDetail .sapMITB.sapUiResponsiveContentPadding > .sapMITBContainerContent > .sapMITBContent {
    padding: 0rem;
}


/*FeedList Item*/

.einv .sapMFeedListItemTextText {
    padding-top: 4px;
}

.einv .sapMFeedListShowSeparatorsAll.sapMLIB {
    border-bottom: .063rem solid #f7f7f7;
}

.einv .sapMFeedListItemTitleDiv.sapMLIB,
.einv .sapMFeedListShowSeparatorsAll .sapMFeedListItem {
    padding: 0;
}

.einv .sapMFeedListItem .sapMFeedListItemTextText .sapMFeedListItemTextString {
    color: #44484b;
}

.einv .sapMFeedListItemText {
    color: #32363A;
}


/*Table*/

.einv .sapMListTbl th,
.einv .sapMTableTH {
    background: #eeeeee;
}

.einv .sapMCbBg {
    height: 1rem;
    width: 1rem;
    line-height: 1rem;
    font-size: 0.5rem;
    border-radius: 3px;
}

.einv .sapMCbBg {
    border: solid 1px #999a9d;
}

.einv .sapMCbBg.sapMCbMarkChecked:before {
    color: #5ba435;
}

.einv .sapMCbBg.sapMCbMarkChecked:before {
    font-size: 0.75rem;
}

.einv .sapMColumnHeader>.sapMText {
    font-size: small;
}

.einv .sapMListBGTranslucent .sapMListTblSubRow {
    background: #fff;
}


/*Link*/

.einv .sapMLnk {
    color: #5ba435;
}

.einv .sapMLnk:visited,
.einv .sapMLnk:hover {
    color: #5ba435 !important;
    text-decoration-line: none !important;
}


/*File Uploader*/

.einv .sapUiFup div.sapMBtnInner.sapMBtnDefault {
    background: #5ba435;
    background-color: #5ba435;
    border-color: #5ba435;
    border-radius: 3px;
    color: #fff;
}

.einv .sapUiFupInputMask>input {
    font-size: small;
    width: auto;
}

.einv .sapUiFup button {
    width: auto !important;
    padding: 0 !important;
}

.einv .sapUiFup button span,
.einv .sapUiFup button bdi {
    display: none !important;
}

.einv .sapUiFup button div:before,
.einv .sapUiFup .sapMBtnContent:before {
    content: '+ ';
    font-size: 1.35rem;
}

.einv .sapUiFup button div:after,
.einv .sapUiFup .sapMBtnContent:after {
    content: 'Add';
    position: relative;
    bottom: 2px;
}

.einv .sapUiFup:active div.sapMBtnInner.sapMBtnDefault {
    background: #2c612b;
    background-color: #2c612b;
    color: #fff;
}

.einv .sapUiFup:hover .sapMBtnHoverable.sapMBtnDefault:not(.sapMBtnActive) {
    background-image: none;
    background-color: #2c612b;
    color: #fff;
}


/*Pull to refresh*/

.einv .sapMPullDownTouch>.sapMPullDownIcon::before {
    color: #5ba435;
}


/*Dialog*/

.einv .sapMDialog {
    border-radius: 3px;
}

.einv .sapMPopup-CTX .sapMIBar.sapMHeader-CTX {
    background-color: #fff;
}

.einv .sapMDialog .sapMIBar.sapMFooter-CTX {
    margin: 0;
    width: 100%;
    border-radius: 0;
}


/*Busy Indicator*/

.einv .sapUiLocalBusyIndicatorAnimation>div::before {
    background: #5ba435;
}

.einv .sapUiLocalBusyIndicatorAnimation>div::after {
    box-shadow: inset 0 0 0 0 #5ba435;
}


/*Error State*/

.einv .sapMInputBaseErrorInner {
    border-color: #e52929 !important;
}


/*Blocks*/

.einv .sapUxAPAnchorBar .sapUxAPAnchorBarButton.sapUxAPAnchorBarButtonSelected .sapMBtnDefault .sapMBtnContent,
.einv .sapUxAPAnchorBar .sapUxAPAnchorBarButton.sapUxAPAnchorBarButtonSelected .sapMBtnDefault .sapMBtnContent {
    color: #5ba435 !important;
}

.einv .sapUxAPAnchorBar .sapUxAPAnchorBarButton.sapUxAPAnchorBarButtonSelected .sapMBtnDefault .sapMBtnContent::after,
.einv .sapUxAPAnchorBar .sapUxAPAnchorBarButton.sapUxAPAnchorBarButtonSelected .sapMBtnDefault .sapMBtnContent::after {
    background-color: #5ba435 !important;
}

.einv .sapUxAPObjectPageSectionTitle,
.sapUxAPObjectPageSectionTitle {
    border-bottom: .0625rem solid #5ba435 !important;
}


/********** Popover Styles **********/

.einv .sapMOTAPopover.sapMOTAPButtonsWithIcons .sapMOTAPButtonNoIcon>.sapMBtnInner>span.sapMBtnContent {
    margin-left: 0;
    text-align: center;
}

.einv .sapMSltBar::after {
    background: #5ba435;
}

.einv .sapMSelectListItemBaseSelected {
    background: #ebf7e5;
}

.einv .sapMSltPicker .sapMIBar.sapMIBar-CTX {
    border: 0.0625rem solid #5ba435;
}

.einv .sapMOTAPopover.sapMPopover .sapMPopoverCont .sapMPopoverScroll>div.sapMSegBSelectWrapper>div.sapMSlt {
    border-radius: 3px;
    border: 1px solid #5ba435;
}

.einv .sapMSlt>.sapMSltLabel {
    color: #5ba435;
}

.einv .sapMSltArrow,
.einv .sapMSltBar::after {
    color: #5ba435;
}


/*Override selection style */

.einv .sapMInputBaseInner::selection,
.einv .sapMInputBaseInner::selection {
    background: rgb(91 164 53);
    color: rgba(255, 255, 255, 0.99);
}


/*RTE*/

.einv .sapUiRTE {
    margin-top: 0.3125rem;
    box-shadow: 1px 0px 1px grey;
}


/*Dynamic Page*/

.einv .sapFDynamicPageToggleHeaderIndicator:before,
.sapFDynamicPageHeaderPinButton:before {
    background-image: linear-gradient(to left, #5ba435, rgba(8, 84, 160, 0));
}

.einv .sapFDynamicPageToggleHeaderIndicator:after,
.sapFDynamicPageHeaderPinButton:after {
    background-image: linear-gradient(to right, #5ba435, rgba(8, 84, 160, 0));
}


/*ToolHeader*/

.einv .sapTntToolHeader .sapMBtn .sapMBtnTransparent {
    color: #d1e8ff !important;
    background-color: transparent;
    border-color: transparent;
    border: 1px solid #fff0 !important;
}

.einv .sapTntToolHeader.sapMTB {
    background-color: #5ba435;
    box-shadow: inset 0 -0.0625rem 0 0 #5ba435;
}

.einv .sapTntToolHeader .sapMBtn .sapMBtnTransparent .sapUiIcon {
    color: #ffffff;
}

.einv .sapTntNavLIItem .sapUiIcon {
    color: #5ba435;
}

.einv .sapTntNavLIItemSelected:not(.sapTntNavLIItemDisabled) {
    border-bottom: 1px solid #5ba435;
}

.einv .sapTntNavLIItemSelected.sapTntNavLIItem {
    background-color: #ebf7e5;
}

.einv .sapTntNavLIItemSelected:not(.sapTntNavLIItemDisabled) {
    border-bottom: 1px solid #ebf7e5;
}

.einv .sapTntNavLI:not(.sapTntNavLIPopup) .sapTntNavLIGroupItem.sapTntNavLIItem:last-child.sapTntNavLIItemSelected {
    border-color: #5ba435;
}

.einv .sapTntNavLI .sapTntNavLIGroup.sapTntNavLIItem:not(.sapTntNavLIItemDisabled):active, 
.einv .sapTntNavLI .sapTntNavLIGroupItem.sapTntNavLIItem:not(.sapTntNavLIItemDisabled):active {
	background-color: #338016;
}

.einv .sapTntNavLIItemSelected.sapTntNavLIItem, 
.einv .sapTntNavLIItemSelected .sapTntNavLIGroup, 
.einv .sapTntNavLIItemSelected.sapTntNavLIGroupItem.sapTntNavLIGroupItem {
    background-color: #ebf7e5;
}

.einv .sapTntNavLIItemSelected.sapTntNavLIItem,
.einv .sapTntNavLIItemSelected .sapTntNavLIGroup,
.einv .sapTntNavLIItemSelected.sapTntNavLIGroupItem.sapTntNavLIGroupItem {
    background-color: #ebf7e5
}

.einv .sapTntNavLIItemSelected .sapTntNavLIItem:hover,
.einv .sapTntNavLIItemSelected.sapTntNavLIGroupItem.sapTntNavLIGroupItem:hover {
    background-color: #ebf7e5
}

.einv .sapTntNavLIItemSelected.sapTntNavLIItem,
.einv .sapTntNavLIItemSelected .sapTntNavLIGroup,
.einv .sapTntNavLIItemSelected.sapTntNavLIGroupItem.sapTntNavLIGroupItem {
    background-color: #ebf7e5
}

.einv .sapTntNavLIItemSelected .sapTntNavLIItem:hover,
.einv .sapTntNavLIItemSelected.sapTntNavLIGroupItem.sapTntNavLIGroupItem:hover {
    background-color: #ebf7e5
}

.einv .sapTntNavLICollapsed .sapTntNavLIGroup.sapTntNavLIItemSelected, 
.einv .sapTntNavLIPopup .sapTntNavLIGroup.sapTntNavLIItemSelected {
    border-color: #338016;
}

.einv .sapTntSideNavigationNotExpanded .sapTnTNavLINotExpandedTriangle:not(.sapTntNavLIItemDisabled):after {
	border-bottom: .375rem solid #338016;
}

.einv .sapTntToolHeader .sapMBtn:not(.sapMBtnDisabled) .sapMBtnIconFirst.sapMBtnTransparent.sapMBtnActive,
.einv .sapTntToolHeader .sapMBtn:not(.sapMBtnDisabled) .sapMBtnIconFirst.sapMBtnDefault.sapMBtnActive,
.einv .sapTntToolHeader .sapMBtn:not(.sapMBtnDisabled) .sapMBtnIconFirst.sapMBtnBack.sapMBtnActive,
.einv .sapTntToolHeader .sapMBtn:not(.sapMBtnDisabled) .sapMBtnIconFirst.sapMBtnUp.sapMBtnActive {
    background: #338016;
    color: #fff;
    border-color: transparent
}

.einv .sapTntToolHeader .sapMBtn:not(.sapMBtnDisabled) .sapMBtnIconFirst.sapMBtnTransparent.sapMBtnActive::after,
.einv .sapTntToolHeader .sapMBtn:not(.sapMBtnDisabled) .sapMBtnIconFirst.sapMBtnDefault.sapMBtnActive::after,
.einv .sapTntToolHeader .sapMBtn:not(.sapMBtnDisabled) .sapMBtnIconFirst.sapMBtnBack.sapMBtnActive::after,
.einv .sapTntToolHeader .sapMBtn:not(.sapMBtnDisabled) .sapMBtnIconFirst.sapMBtnUp.sapMBtnActive::after {
    color: #fff;
    background: #338016
}

.einv .sapTntToolHeader .sapMBtn:not(.sapMBtnDisabled) .sapMBtnIconFirst.sapMBtnTransparent.sapMBtnActive .sapUiIcon,
.einv .sapTntToolHeader .sapMBtn:not(.sapMBtnDisabled) .sapMBtnIconFirst.sapMBtnDefault.sapMBtnActive .sapUiIcon,
.einv .sapTntToolHeader .sapMBtn:not(.sapMBtnDisabled) .sapMBtnIconFirst.sapMBtnBack.sapMBtnActive .sapUiIcon,
.einv .sapTntToolHeader .sapMBtn:not(.sapMBtnDisabled) .sapMBtnIconFirst.sapMBtnUp.sapMBtnActive .sapUiIcon {
    color: #fff
}

.einv .sapTntToolHeader .sapMBtn:not(.sapMBtnDisabled) .sapMFocusable.sapMBtnTransparent.sapMBtnActive,
.einv .sapTntToolHeader .sapMBtn:not(.sapMBtnDisabled) .sapMFocusable.sapMBtnEmphasized.sapMBtnActive,
.einv .sapTntToolHeader .sapMBtn:not(.sapMBtnDisabled) .sapMFocusable.sapMBtnDefault.sapMBtnActive,
.einv .sapTntToolHeader .sapMBtn:not(.sapMBtnDisabled) .sapMFocusable.sapMBtnBack.sapMBtnActive,
.einv .sapTntToolHeader .sapMBtn:not(.sapMBtnDisabled) .sapMFocusable.sapMBtnUp.sapMBtnActive {
    outline-color: #fff;
    background: #338016
}

.einv .sapTntToolHeader .sapMBtn:hover:not(.sapMBtnDisabled)>span.sapMBtnInner.sapMBtnTransparent:not(.sapMBtnActive):focus,
.einv .sapTntToolHeader .sapMBtn:hover:not(.sapMBtnDisabled)>span.sapMBtnInner.sapMBtnEmphasized:not(.sapMBtnActive):focus,
.einv .sapTntToolHeader .sapMBtn:hover:not(.sapMBtnDisabled)>span.sapMBtnInner.sapMBtnDefault:not(.sapMBtnActive):focus,
.einv .sapTntToolHeader .sapMBtn:hover:not(.sapMBtnDisabled)>span.sapMBtnInner.sapMBtnBack:not(.sapMBtnActive):focus,
.einv .sapTntToolHeader .sapMBtn:hover:not(.sapMBtnDisabled)>span.sapMBtnInner.sapMBtnUp:not(.sapMBtnActive):focus {
    outline-color: #fff
}

.einv .sapTntToolHeader .sapMBtn:hover:not(.sapMBtnDisabled) .sapMBtnInner.sapMBtnHoverable.sapMBtnTransparent:not(.sapMBtnActive):not(.sapMToggleBtnPressed),
.einv .sapTntToolHeader .sapMBtn:hover:not(.sapMBtnDisabled) .sapMBtnInner.sapMBtnHoverable.sapMBtnDefault:not(.sapMBtnActive):not(.sapMToggleBtnPressed),
.einv .sapTntToolHeader .sapMBtn:hover:not(.sapMBtnDisabled) .sapMBtnInner.sapMBtnHoverable.sapMBtnBack:not(.sapMBtnActive):not(.sapMToggleBtnPressed),
.einv .sapTntToolHeader .sapMBtn:hover:not(.sapMBtnDisabled) .sapMBtnInner.sapMBtnHoverable.sapMBtnUp:not(.sapMBtnActive):not(.sapMToggleBtnPressed) {
    background: #338016;
    border-color: transparent
}

.einv .sapTntToolHeader .sapMBtn:hover:not(.sapMBtnDisabled) .sapMBtnInner.sapMBtnHoverable.sapMBtnTransparent:not(.sapMBtnActive):not(.sapMToggleBtnPressed) bdi,
.einv .sapTntToolHeader .sapMBtn:hover:not(.sapMBtnDisabled) .sapMBtnInner.sapMBtnHoverable.sapMBtnDefault:not(.sapMBtnActive):not(.sapMToggleBtnPressed) bdi,
.einv .sapTntToolHeader .sapMBtn:hover:not(.sapMBtnDisabled) .sapMBtnInner.sapMBtnHoverable.sapMBtnBack:not(.sapMBtnActive):not(.sapMToggleBtnPressed) bdi,
.einv .sapTntToolHeader .sapMBtn:hover:not(.sapMBtnDisabled) .sapMBtnInner.sapMBtnHoverable.sapMBtnUp:not(.sapMBtnActive):not(.sapMToggleBtnPressed) bdi {
    color: #fff
}

.einv .sapTntToolHeader .sapMBtn:hover:not(.sapMBtnDisabled) .sapMBtnInner.sapMBtnHoverable.sapMBtnEmphasized:not(.sapMBtnActive):not(.sapMToggleBtnPressed) {
    background: #338016;
    border-color: transparent
}

.einv .sapTntToolHeader .sapMBtn:hover:not(.sapMBtnDisabled) .sapMBtnInner.sapMBtnHoverable.sapMBtnEmphasized:not(.sapMBtnActive):not(.sapMToggleBtnPressed) bdi {
    color: #fff
}

.einv .sapTntToolHeader .sapMBtn:hover:not(.sapMBtnDisabled)>span.sapMBtnInner.sapMBtnTransparent:not(.sapMBtnActive):not(.sapMToggleBtnPressed)>.sapMBtnIcon,
.einv .sapTntToolHeader .sapMBtn:hover:not(.sapMBtnDisabled)>span.sapMBtnInner.sapMBtnEmphasized:not(.sapMBtnActive):not(.sapMToggleBtnPressed)>.sapMBtnIcon,
.einv .sapTntToolHeader .sapMBtn:hover:not(.sapMBtnDisabled)>span.sapMBtnInner.sapMBtnDefault:not(.sapMBtnActive):not(.sapMToggleBtnPressed)>.sapMBtnIcon,
.einv .sapTntToolHeader .sapMBtn:hover:not(.sapMBtnDisabled)>span.sapMBtnInner.sapMBtnBack:not(.sapMBtnActive):not(.sapMToggleBtnPressed)>.sapMBtnIcon,
.einv .sapTntToolHeader .sapMBtn:hover:not(.sapMBtnDisabled)>span.sapMBtnInner.sapMBtnUp:not(.sapMBtnActive):not(.sapMToggleBtnPressed)>.sapMBtnIcon {
    color: #fff;
    border-color: transparent
}

.einvScrollCont section {
	overflow: overlay !important;
    height: calc(100vh - 3rem);
}

.einvSDCustPage {
	height: 100vh !important;
}


.alternate-color .sapUiTableContentRow:nth-child(even) {
    background-color: #f2f2f2;
}